<html>
	<head>
		<title>API Docs</title>
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
		<style>
			body {
				margin: 0;
				padding: 0;
				width: 100%;
				color: #333;
				display: table;
				font-weight: 100;
				font-family: 'Lato';
			}
			.container {
				text-align: center;
        padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="container">
				<h1>API Endpoint Documentation</h1>
        <table align="center" style="margin: 0px auto;">
          <tr>
            <th>Request Type</th>
            <th>Endpoint Path</th>
          </tr>
          {{ range $endpoint := .Endpoints }}
          <tr>
            <td>{{ $endpoint.Type }}</td>
            <td>{{ $endpoint.Path }}</td>
          </tr>
        {{end}}
      </table>
		</div>
	</body>
</html>
